@import 'assets/sass/variables';
@import "assets/sass/typography";
@import "assets/sass/form";
@import "assets/sass/radio-group";

body { 
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Mulish', sans-serif;
  background-color: #fdffff
}
#root {
  height: 100%;
}
.container {
  display: flex;
  height: 100%;
}
.app-title {
  color: $gunmetal-light;
  text-align: left;
  font-size: 1.25rem;
  letter-spacing: 0.8px;
  word-spacing: 3px;
  padding: 1.5rem 0 0 2rem;
  font-weight: 800;
  padding-bottom: 1.125rem;
  
  span {
    animation: color_change 1s;
    animation-iteration-count: 5;
    font-weight: 800;
    animation-delay: 0.33s;
    .last-letter {
      font-weight: 800;
      font-style: normal;
      animation: color_change 1s;
      animation-delay: 0.66s;
      animation-iteration-count: 5;
    }
    &.tail {
      position: relative;
      display: inline-block;
      color: $hunyadi-yellow;
      font-size: 12px;
      transform: rotateZ(-25grad);
      left: -10px;
      top: -20px;
    }
  }
  .first-letter {
    font-weight: 800;
    animation: color_change 1s ;
    animation-iteration-count: 5;
  }
}

.preview-panel {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  .preview-wrap {  
    color: $preview-font-color;
    .preview {
      display: none;
      height: 100%;
      font-family: 'Merriweather', serif;
      font-weight: 400;
      background-color: $preview-backgroud-color;
      &:focus {
        background-color: $preview-focus-backgroud-color;
      }
      &.is--visible {
        display: block;
      }
    }
    &:hover {
      filter: brightness(96%);
    }
  }
}

[contenteditable]:focus {
  outline: 1px solid transparent;
  background-color: rgba(225, 255, 255, .25);
  color: #666;
}

.interactive {
  cursor: pointer;
}

.control-panel {
  position: relative;
  margin: 1rem 0;
  padding: 0 2rem;
  overflow: auto;
  flex-shrink: 0.4;
}

.interactive {
  &:before {
    content: "❯";
    display: inline-block;
    position: relative;
    margin-right: 6px;
    transition: transform 0.125s;
  }
  &.is-open {
    &:before {
      transform: rotateZ(90deg)
    }
  }
}

.fold-area {
  position: relative;
  padding: 0;
  margin-bottom: 0.5rem; 
  max-height: 0;
  display: block;
  overflow: clip;
  transition: max-height .5s ease-in-out;
  &.is-open {
    max-height: 100%;
    background-color: #fafafa;
    border-radius: 2px;
    padding: 10px;
  }
}

.foldable--indicator {
  display: block;
  position: absolute;
  left: 10px;
  transition: transform 0.125s;
  font-size: 13px;
  &.is-closed {
    transform: rotateZ(0);
  }
  &.is-open {
    transform: rotateZ(90deg);
  }
}

.layout-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 1rem 1rem 0;
}

::-webkit-scrollbar {
  background-color: #b2a477;
  width: 6px;
  height: 6px;
  &:focus,
  &:hover {
    width: 12px;
  }
}

::-webkit-scrollbar-thumb {
  background-color: $light-primary-color;
}

::-webkit-scrollbar-track {
  width: 6px;
}

@keyframes color_change {
  0%  { color: $rufous}
  50% { color: $hunyadi-yellow}
  100% { color: $gunmetal-light}
}

.view-mode {
  button {
    appearance: none;
    background-color: white;
    color: $primary-color;
    border: 3px solid #6e9e9e66;
    border-radius: 6px;
    text-align: center;
    padding: 5px 12px 3px;
    margin: 1rem;
    font-weight: 600;
    transition: filter 0.25s;
    &:hover {
      cursor: pointer;
      filter: invert(1);
    }
  }
}

.css-code {
  display: none;
  &.is--visible {
    display: block;
  }
}