@import "assets/sass/form";
@import "assets/sass/typography";
@import "assets/sass/radio-group";

$sizeXL: 200px;
$sizeL: 100px;
$sizeS: 75px;
$sizeXS: 30px; 

$primary-color: #6e9e9e;

body { 
  padding: 0;
  margin: 0;
  font-family: sans-serif; 
}

.app-title {
  text-align: center;
  font-weight: 400;
  padding-bottom: 1.125rem;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5)
}

.preview-panel {
  background-color: #ccc;
  background-image: url('assets/img/noise.svg');
  padding: 2rem;
}
.preview-wrap {
  background-color: #bbb;
  color: #333;
}

.interactive {
  cursor: pointer;
}

.container {
  display: flex;
  .preview-panel {
    width: 50%;
  }
}
.control-panel {
  position: relative;
  margin: 2rem;
  padding: 0 2rem;
  max-height: 100vh;
  overflow: scroll;
}

.fold-area {
  position: relative;
  padding: 0;
  margin-bottom: 0.5rem; 
  max-height: 0;
  display: block;
  overflow: clip;
  transition: max-height .5s ease-in-out;
  &.is-folded {
    max-height: 100%;
  }
}

.foldable--indicator {
  display: block;
  position: absolute;
  left: 10px;
  transition: transform 0.125s;
  font-size: 13px;
  &.is-closed {
    transform: rotateZ(0);
  }
  &.is-open {
    transform: rotateZ(90deg);
  }
}

.layout-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 1rem 1rem 0;
}

.w-xl{
  max-width: $sizeXL
}
.w-l{
  max-width: $sizeXL
}
.w-s{
  max-width: $sizeXL
}
.w-xs{
  max-width: $sizeXL
}