html {
  background-color: #223;
  color: rgb(110, 158, 158);
}  
h1, h2, h3, h4, h5, h6, p {
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0 0 1rem 0;
}
h1 {
  font-size: 1.125rem;
}
h3 {
  font-size: 1rem;
}
h5 {
  font-weight: 600;
  font-size: 0.9rem;
}
h6 {
  font-size: 0.8rem;
}